// ######################################################
// Footer
// ######################################################

.drska-footer
    margin: 0 auto
    clear: both
    position: fixed
    bottom: rem(30)
    width: 100vw
    padding: 0 40px
    box-sizing: border-box
    +clearfix

    a:link
        color: black
        font-family: $sans-serif-family
        text-decoration: none
    
    a:hover,
    a:focus
        color: lighten(black, 20%)


.drska-footer__left
    float: left

    +respond(large)
        float: none
        text-align: center
        padding-bottom: rem(15)

.drska-footer__right
    float: right

    +respond(large)
        float: none
        text-align: center
