<section class="drska-column">
    <div class="drska-column-left">
        <h3 class="drska-column-left__headline">
            {{ page.sections['columnLeftHeadline'] | textilize }}
        </h3>
        <p class="drska-column-left__description">
            {{ page.sections['columnLeftDescription'] | textilize }}
        </p>
    </div>
    <div class="drska-column-middle">
        <h4 class="drska-column-right__headline">
            {{ page.sections['columnMiddleHeadline'] | textilize }}
        </h4>
        <p class="drska-column-right__description">
            {{ page.sections['columnMiddleDescription'] | textilize }}
        </p>
    </div>
    <div class="drska-column-right">
        <h4 class="drska-column-right__headline">
            {{ page.sections['columnRightHeadline'] | textilize }}
        </h4>
        <p class="drska-column-right__description">
            {{ page.sections['columnRightDescription'] | textilize }}
        </p>
    </div>
</section>
