<form class="drska-form-section">
    <h1 class="drska-form__headline">
        How can I help you?
    </h1>
    <label class="drska-name">
        <input id="fname" type="text" placeholder="Name">
    <span>
        Name
    </span>
    </label>
    <label class="drska-mail">
        <input type="email" placeholder="Email">
    <span>
        Email
    </span>
    </label>
    <label class="drska-message">
        <textarea name="Text1" cols="40" rows="5" placeholder="Message"></textarea>
        <span>
            Message
        </span>
    </label>
    <input  class="drska-form__btn" type="submit" value="Send">
</form>
