<nav class="main-nav">
    <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="label-toggle">
            <div class="hamburger-icon">
            </div>
        </label>
    </input>
    <ul>
    {% assign navigation_pages = site.html_pages | sort: 'navigation_order' %}
    {% for p in navigation_pages %}
    {% if p.navigation_order %}
        <li>
            <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
            {{ p.title }}
            </a>
        </li>
    {% endif %}
    {% endfor %}
    </ul>
</nav>
